.custom-featured-products-section {
  margin: 25px 0;

  .featured-heading,
  .featured-subheading {
    color: $color-primary;
    text-align: center;
  }

  .featured-heading {
    margin-bottom: 5px;
  }
}
